<a href="https://colab.research.google.com/github/Noemy02/Progra-III-2023/blob/main/Programacion_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tipos de datos

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

Variable Booleana:  False

In [ ]:
nombre = "Lorena Bermudez"
print("Mi Nombre:", nombre)
print("Iniciales:", nombre[0], nombre[7])
print("Longitud del Nombre:", len(nombre))
print("Primer Nombre:", nombre[0:6])
print("Primer Nombre:", nombre[:6])
print("Apellido:", nombre[7:])
print("Apellido:", nombre[7:len(nombre)])
print("Apellido:", nombre[-9:])

Mi Nombre: Lorena Bermudez
Iniciales: L B
Longitud del Nombre: 15
Primer Nombre: Lorena
Primer Nombre: Lorena
Apellido: Bermudez
Apellido: Bermudez
Apellido:  Bermudez

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

Num 1: 2
Num 2: 4
La suma es:  6.0

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 3
N4.26um 2: 2
5.0



*   Convertir de celsius a fahrenheit

In [ ]:
def convertir_cf(c):
   return c*9/5 +32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 42
F:  107.6



*   Convertir de fahrenheit a celsius

In [ ]:
def convertir_fc(f):
   return (f-32) * 5/9

In [ ]:
f = float(input("Fahrenheit: "))
print("C: ", convertir_fc(f))

Fahrenheit: 107.6
C:  42.0



*   Convertir de celsius a kelvin

In [ ]:
def convertir_ck(k):
   return k+273.15

In [ ]:
k = float(input("Kelvin: "))
print("K: ", convertir_ck(k))

Kelvin: 42
K:  315.15

*   Calcular el sueldo mensual de un empleado

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if (numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
    #isss + afp= 3 + 6.25 = 9.25 = 100 -9.25 = 90.75/100 = 0.9075
    #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11, 9999999, 0.3, 288.57]

]

In [ ]:
def calcularIsr(sueldo,sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
    return impSr

In [ ]:
valorXhr = 4
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr= calcularIsr(s, s*0.9075)
print("Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 8
Sueldo:  960.0 ISR:  0 871.1999999999999

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[3, 4, 5]

In [ ]:
import functools

data = [1, 2, 3, 4, 5]
resp = functools.reduce(lambda a, n: a + n, data)
print(resp)

15

Tuplas

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

Listas

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

Diccionarios = JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

LISTAS

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
resp = map(lambda n:n*9/5+32, data)
print(list(resp))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data );
print(list(pares))

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print(list(impares))

[5, 9]

**CICLOS**


*   FOR

In [ ]:
for item in data:
  print(item)

2
5
6
8
9



*   WHILE

In [ ]:
i=0
n= len(data)
while i<n:
  print( data[i])
  i+=1

2
5
6
8
9

TABLAS DE MULTIPLICAR

In [ ]:
d = int(input( "Numero de tabla: " ))
for f in range(1,11):
  multiplicacion = d * f
  print(f'{d} x {f} = {multiplicacion}')

Numero de tabla: 1000000
1000000 x 1 = 1000000
1000000 x 2 = 2000000
1000000 x 3 = 3000000
1000000 x 4 = 4000000
1000000 x 5 = 5000000
1000000 x 6 = 6000000
1000000 x 7 = 7000000
1000000 x 8 = 8000000
1000000 x 9 = 9000000
1000000 x 10 = 10000000

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 10
Soy un niño

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

EL numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

15

Escribir un prgrama que pida la nota de examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10

In [ ]:
Nota_Examen = float(input("Digite su nota: "))

if (Nota_Examen<0 or Nota_Examen>10):
  print("Nota invalida")
elif (Nota_Examen<5):
  print("Suspenso")
elif (Nota_Examen<7):
  print("Aprobado")
elif (Nota_Examen<9):
  print("Notable")
elif (Nota_Examen<10):
  print("Sobresaliente")
else:
  print("Honorable")

Digite su nota: 8.9
Notable

Escribe un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

Limit: 10
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13

Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario.

In [ ]:
def calcular_media(lista_numeros):
    suma = sum(lista_numeros)
    media = suma / len(lista_numeros)
    return media

numeros_usuario = input("Introduce una serie de números separados por espacios: ")
numeros_lista = [float(numero) for numero in numeros_usuario.split()]

if numeros_lista:
    media = calcular_media(numeros_lista)
    print(f"La media aritmética de los números ingresados es: {media}")
else:
    print("No se ingresaron números válidos.")

Introduce una serie de números separados por espacios: 1 2 3 4 5 67 66
La media aritmética de los números ingresados es: 21.142857142857142

Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejem. de palindrome: Ana, oso, oro, etc.

In [ ]:
def es_palindrome(palabra):
    palabra = palabra.lower()
    palabra = palabra.replace(" ", "")
    return palabra == palabra[::-1]

palabra_usuario = input("Introduce una palabra: ")

if es_palindrome(palabra_usuario):
    print(f"{palabra_usuario} es un palíndrome.")
else:
    print(f"{palabra_usuario} no es un palíndrome.")

Introduce una palabra: Ana
Ana es un palíndrome.



Escriba un programa que convierta un numero introducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

In [ ]:
def decimal_a_romano(numero):
    val = [
        1000, 900, 500, 400,
        100, 90, 50, 40,
        10, 9, 5, 4,
        1
        ]
    syb = [
        "M", "CM", "D", "CD",
        "C", "XC", "L", "XL",
        "X", "IX", "V", "IV",
        "I"
        ]
    roman_num = ''
    i = 0
    while  numero > 0:
        for _ in range(numero // val[i]):
            roman_num += syb[i]
            numero -= val[i]
        i += 1
    return roman_num

try:
    numero_decimal = int(input("Introduce un número decimal: "))
    if numero_decimal <= 0:
        print("Ingresa un número entero positivo.")
    else:
        numero_romano = decimal_a_romano(numero_decimal)
        print(f"El número romano equivalente es: {numero_romano}")
except ValueError:
    print("Ingresa un número válido.")

PROGRAMACION ORIENTADA A OBJETOS.

CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

La suma de 5 + 3 =  8

PARCIAL-I PROGRA-III

In [ ]:
area = {
    "mc": (1.0, "Metro cuadrado"),
    "yc": (1.19599, "Yarda cuadrada"),
    "pc": (10.7639, "Pie cuadrado"),
    "hec": (0.0001, "Hectárea"),
    "vc": (25.29, "Vara Cuadrada"),
    "mnz": (0.000143327, "Manzana"),
    "tar": (0.002285714285714286, "Tareas"),
}

def convertir_unidades(conversores):
    while True:
        print("\033[92m" + "Unidades Disponibles" + "\033[0m")
        for unidad in conversores:
            print(unidad + ": " + conversores[unidad][1])

        convertir_de = ""
        convertir_a = ""
        while convertir_de not in conversores:
            convertir_de = input("Convertir de:  ")
            if convertir_de not in conversores:
                print("unidad no válida. Inténtelo nuevamente.")

        while convertir_a not in conversores:
            convertir_a = input("Convertir a: ").lower()
            if convertir_a not in conversores:
                print("unidad no válida. Inténtelo nuevamente.")

        while True:
            cantidad_input = input(f"Ingrese la cantidad a convertir {convertir_de}: ")
            try:
                cantidad = float(cantidad_input)
                break
            except ValueError:
                print("Ingrese un valor numérico .")
        origen = conversores[convertir_de][0]
        destino = conversores[convertir_a][0]

        operacion = (destino / origen) * cantidad

        if operacion <= 0:
            print("La conversion no es posible. Introduzca una cantidad superior a 0.")
        elif (operacion) < 0.001 or (operacion) >= 100000000000:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.6e} {convertir_a}. en notación científica")
        else:
            print(f"{cantidad:.2f} {convertir_de} es igual a {operacion:.6f} {convertir_a}.")

        salir = input("¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir")
        if salir.lower() != "si":
            break

def conversor_area():
    print(chr(27) + "[1;31m" + "  Conversor de Area ")
    convertir_unidades(area)

def menu_de_conversion_area():
    while True:
        print(chr(27) + "[1;33m" + "  CONVERSOR DE: " + "\033[0m")
        print("Area")


        print("1. Conversor de Área")
        print("2. Salir")

        option = input("Seleccione una opción: ")

        if option == "1":
            conversor_area()
        elif option == "2":
            print("¡Gracias por usar el conversor!")
            break
        else:
            print("Opción no válida. Por favor, seleccione una opción válida.")

menu_de_conversion_area()

  CONVERSOR DE:
Area
1. Conversor de Área
2. Salir
Seleccione una opción: 1
  Conversor de Area
Unidades Disponibles
mc: Metro cuadrado
yc: Yarda cuadrada
pc: Pie cuadrado
hec: Hectárea
vc: Vara Cuadrada
mnz: Manzana
tar: Tareas
Convertir de:  mc
Convertir a: vc
Ingrese la cantidad a convertir mc: 1
1.00 mc es igual a 25.290000 vc.
¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salirSi
Unidades Disponibles
mc: Metro cuadrado
yc: Yarda cuadrada
pc: Pie cuadrado
hec: Hectárea
vc: Vara Cuadrada
mnz: Manzana
tar: Tareas
Convertir de:  mnz
Convertir a: tar
Ingrese la cantidad a convertir mnz: 3
3.00 mnz es igual a 47.842646 tar.
¿Deseas seguir en el conversor? (si) para continuar o cualquier otra tecla para salir0
  CONVERSOR DE:
Area
1. Conversor de Área
2. Salir